@page "/Register"

<div class="input-container">
    <h1>Register</h1>

    <div class="input-field">
        <input placeholder="CPR" type="text" id="input1" class="form-control" @bind="cpr" />
    </div>

    <div class="input-field">
        <input placeholder="Password" type="password" id="input2" class="form-control" @bind="password" />
    </div>
    
    @if (!string.IsNullOrEmpty(resultMsg))
    {
        <label style="color: @color">@resultMsg</label>
    }

    <button @onclick="Create" class="btn btn-primary" disabled="@IsButtonDisabled">Register</button>
</div>

@code {
    private string cpr;
    private string password;
    private string resultMsg = "";
    private string color = "";
    
    private bool IsButtonDisabled => string.IsNullOrEmpty(cpr) || string.IsNullOrEmpty(password);
    
    private void Create()
    {
        resultMsg = "";

        try
        {
            cpr = "";
            password = "";
            resultMsg = "Successful registration";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }
}