CarRentalSystem/cCarRentalSystem/BlazorApp/obj
CarRentalSystem/cCarRentalSystem/Blazor/obj
CarRentalSystem/cCarRentalSystem/Domain/obj
CarRentalSystem/cCarRentalSystem/HTTPServices/obj
CarRentalSystem/cCarRentalSystem/HTTPClients/obj
CarRentalSystem/cCarRentalSystem/Test/obj
CarRentalSystem/CarRentalFrontend/Blazor/obj
CarRentalSystem/cCarRentalSystem\Client\BlazorApp\obj\rider.project.model.nuget.info
CarRentalSystem/cCarRentalSystem\Client\Domain\obj\rider.project.model.nuget.info
CarRentalSystem\cCarRentalSystem\Client\HttpClients\obj\rider.project.model.nuget.info
CarRentalData/EfcDataAccess/obj
CarRentalData/Entity/obj
CarRentalData/GrpcService/obj
rider.project.model.nuget.info
.idea/
