@page "/create-car"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@using Domain.Enums
@inject ICarService carService;
@inject NavigationManager navMgr;
@using UIComponents
@attribute [Authorize]

<div class="container mb-5">
<div class="card">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 pb-3">
            <h1 class="text-center fs-1 fw-bold">Add car</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="form-group field text-start">
                <label>Brand</label>
                <input id="inputBrand" type="text" class="form-control" @bind="brand" @bind:event="oninput"/>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center pt-3">
        <div class="col-md-12">
            <div class="form-group field text-start">
                <label>Model</label>
                <input id="inputModel" type="text" class="form-control" @bind="model" @bind:event="oninput"/>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center pt-3">
        <div class="col-md-6">
            <div class="form-group field text-start">
                <label>Body Type</label>
                <input id="inputBodyType" type="text" class="form-control" @bind="bodyType" @bind:event="oninput"/>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group field text-start">
                <label>Horsepower</label>
                <input id="inputHP" type="text" class="form-control" @bind="horsePower" @bind:event="oninput"/>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center pt-3">
        <div class="col-md-6">
            <div class="form-group field text-start">
                <label>Fuel Type</label>
                <input id="inputFuelType" type="text" class="form-control" @bind="fuelType" @bind:event="oninput"/>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group field text-start">
                <label>Gearbox</label>
                <input id="inputGearbox" type="text" class="form-control" @bind="gearbox" @bind:event="oninput"/>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center pt-3">
        <div class="col-md-12">
            <div class="form-group field text-start">
                <label>Color</label>
                <input id="inputColor" type="text" class="form-control" @bind="color" @bind:event="oninput"/>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center pt-3">
        <div class="col-md-12">
            <div class="form-group field text-start">
                <label>Description</label>
                <input id="inputDescription" type="text" class="form-control" @bind="description" @bind:event="oninput"/>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center pt-3">
        <div class="col-md-12">
            <div class="form-group field text-start">
                <label>Price per day</label>
                <input id="inputPrice" type="text" class="form-control" @bind="pricePerDay" @bind:event="oninput"/>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center pt-3">
        <div class="col-md-12">
            <div class="button-row">
                <button @onclick="Create" disabled="@IsCreateButtonDisabled" class="acceptbtn w-100">Add</button>
            </div>
            @if (!string.IsNullOrEmpty(msg))
            {
                <label style="color: @msgcolor">@msg</label>
            }
            <Modal ShowModal="showModal">
                <p style="color: black">You have successfully added car!</p>
                <button @onclick="@Proceed">Okay</button>
            </Modal>
        </div>
    </div>
    </div>
</div>


@code {
    public string brand = "";
    public string model = "";
    public string bodyType = "";
    public int horsePower;
    public string fuelType = "";
    public string gearbox = "";
    public string color = "";
    public string description = "";
    public int pricePerDay;
    public string msg = "";
    public string msgcolor = "green";
    public bool showModal ;
 
    private async Task Create()
    {
        try
        {
            CarCreationDto dto = new CarCreationDto(brand, model, bodyType, horsePower, fuelType, gearbox, color, description, pricePerDay, CarStatus.AVAILABLE);
            await carService.CreateAsync(dto);
            showModal = true;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
            msgcolor = "red";
            throw new Exception(e.Message);
        }
    }
    
    private bool IsCreateButtonDisabled => string.IsNullOrWhiteSpace(brand) || string.IsNullOrWhiteSpace(model) || string.IsNullOrWhiteSpace(bodyType) || string.IsNullOrWhiteSpace(fuelType) || horsePower <= 0 || string.IsNullOrWhiteSpace(gearbox) || string.IsNullOrWhiteSpace(description) || string.IsNullOrWhiteSpace(color) || pricePerDay <= 0;
    
    private void Proceed()
    {
        showModal = false;
        navMgr.NavigateTo("/cars", forceLoad: true);
    }
}
