@page "/cars/{carId:int}/edit"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@using Domain.Models
@using Microsoft.AspNetCore.Mvc
@inject ICarService carService;
@inject NavigationManager navMgr;
@attribute [Authorize(Policy = "MustBeAdmin")]

<div class="container mb-5">
<div class="card">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 pb-3">
            <h1 class="text-center fs-1 fw-bold">Edit car</h1>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="form-group field text-start">
                <label>Edit Brand</label>
                <input id="inputBrand" type="text" class="form-control" @bind="brand" @bind:event="oninput"/>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center pt-3">
        <div class="col-md-12">
            <div class="form-group field text-start">
                <label>Edit Model</label>
                <input id="inputModel" type="text" class="form-control" @bind="model" @bind:event="oninput"/>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center pt-3">
        <div class="col-md-6">
            <div class="form-group field text-start">
                <label>Edit Body Type</label>
                <input id="inputBodyType" type="text" class="form-control" @bind="bodyType" @bind:event="oninput"/>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group field text-start">
                <label>Edit Horsepower</label>
                <input id="inputHP" type="text" class="form-control" @bind="horsePower" @bind:event="oninput"/>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center pt-3">
        <div class="col-md-6">
            <div class="form-group field text-start">
                <label>Edit Fuel Type</label>
                <input id="inputFuelType" type="text" class="form-control" @bind="fuelType" @bind:event="oninput"/>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group field text-start">
                <label>Edit Gearbox</label>
                <input id="inputGearbox" type="text" class="form-control" @bind="gearbox" @bind:event="oninput"/>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center pt-3">
        <div class="col-md-12">
            <div class="form-group field text-start">
                <label>Edit Color</label>
                <input id="inputColor" type="text" class="form-control" @bind="color" @bind:event="oninput"/>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center pt-3">
        <div class="col-md-12">
            <div class="form-group field text-start">
                <label>Edit Description</label>
                <input id="inputDescription" type="text" class="form-control" @bind="description" @bind:event="oninput"/>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center pt-3">
        <div class="col-md-12">
            <div class="form-group field text-start">
                <label>Edit Price per day:</label>
                <input id="inputPrice" type="text" class="form-control" @bind="pricePerDay" @bind:event="oninput"/>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center pt-3">
            <div class="col-md-12">
                <div class="button-row">
                    <button @onclick="Edit" disabled="@IsCreateButtonDisabled" class="acceptbtn w-100">Confirm</button>
                </div>
                @if (!string.IsNullOrEmpty(msg))
                {
                    <label style="color: @msgcolor">@msg</label>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int carId { get; set; }
    private string brand;
    private string model;
    private string bodyType;
    private int horsePower;
    private string fuelType;
    private string gearbox;
    private string color;
    private string description;
    private int pricePerDay;
    private string msg = "";
    private string msgcolor = "green";
    private Car? car;
    
    private bool IsCreateButtonDisabled => string.IsNullOrWhiteSpace(brand) || string.IsNullOrWhiteSpace(model) || string.IsNullOrWhiteSpace(bodyType) || string.IsNullOrWhiteSpace(fuelType) || horsePower <= 0 || string.IsNullOrWhiteSpace(gearbox) || string.IsNullOrWhiteSpace(description) || string.IsNullOrWhiteSpace(color) || pricePerDay <= 0;

    protected override async Task OnInitializedAsync()
    {
        car = await carService.GetCarById(carId);
        if (car != null)
        {
            brand = car.Brand;
            model = car.Model;
            bodyType = car.BodyType;
            horsePower = car.HorsePower;
            fuelType = car.FuelType;
            gearbox = car.Gearbox;
            color = car.Color;
            description = car.Description;
            pricePerDay = car.PricePerDay;
        }
    }
    
    private async Task Edit()
    {
        try
        {
            CarUpdateDto dto = new CarUpdateDto(carId, UpdateBrand(), UpdateModel(), UpdateBodyType(), UpdateHorsePower(), UpdateFuelType(), UpdateGearbox(), UpdateColor(), UpdateDescription(), UpdatePrice());
            await carService.UpdateAsync(dto);
            msg = "Car updated successfully.";
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
            msgcolor = "red";
            throw new Exception(e.Message);
        }
    }

    private string UpdateBrand()
    {
        string result = "";
        if (brand == null)
        {
            result = car.Brand;
        }
        else
        {
            result = brand;
        }
        return result;
    }

    private string UpdateModel()
    {
        string result = "";
        if (model == null)
        {
            result = car.Model;
        }
        else
        {
            result = model;
        }
        return result;
    }

    private string UpdateBodyType()
    {
        string result = "";
        if (bodyType == null)
        {
            result = car.BodyType;
        }
        else
        {
            result = bodyType;
        }
        return result;
    }

    private int UpdateHorsePower()
    {
        int result;
        if (horsePower == null || horsePower==0)
        {
            result = car.HorsePower;
        }
        else
        {
            result = horsePower;
        }
        return result;
    }

    private string UpdateFuelType()
    {
        string result = "";
        if (fuelType == null)
        {
            result = car.FuelType;
        }
        else
        {
            result = fuelType;
        }
        return result;
    }

    private string UpdateGearbox()
    {
        string result = "";
        if (gearbox == null)
        {
            result = car.Gearbox;
        }
        else
        {
            result = gearbox;
        }
        return result;
    }

    private string UpdateColor()
    {
        string result = "";
        if (color == null)
        {
            result = car.Color;
        }
        else
        {
            result = color;
        }
        return result;
    }

    private string UpdateDescription()
    {
        string result = "";
        if (description == null)
        {
            result = car.Description;
        }
        else
        {
            result = description;
        }
        return result;
    }

    private int UpdatePrice()
    {
        int result;
        if (pricePerDay == null || pricePerDay==0)
        {
            result = car.PricePerDay;
        }
        else
        {
            result = pricePerDay;
        }
        return result;
    }
    
}