@page "/"

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<PageTitle>Home</PageTitle>
<div class="container">
    <h1>Tripify - SEP3 Group Project</h1>

    <div class="desc"><img src="logo-no-background.png" width="600px"/></div>

    <footer>
        <p>&copy; 2023 Tripify Bengoro App. All rights reserved.</p>
    </footer>
</div>

