@page "/"

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<PageTitle>Home</PageTitle>
<div class="container">
    <div class="desc"><img src="logo-no-background.png" class="img-fluid" /></div>
</div>

