@page "/login"
@using HttpClients.ClientInterfaces
@using System.Security.Claims
@using Domain.DTOs
@using Domain.Models
@using System.Reflection
@using System.Net

@inject IUserService userService;
@inject NavigationManager navManager;

<AuthorizeView>
    <NotAuthorized>
        <div class="container">
            <div class="card">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 pb-3">
                        <h1 class="text-center fs-1 fw-bold">Login</h1>
                    </div>
                </div>
                
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12">
                        <div class="form-group field text-start">
                            <label>Username</label>
                            <input id="inputCpr" type="text" class="form-control" @bind="userName" @bind:event="oninput"/>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center pt-3">
                    <div class="col-md-12">
                        <div class="form-group field text-start">
                            <label>Password</label>
                            <input id="inputPassword" type="password" class="form-control" @bind="password" @bind:event="oninput"/>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center pt-3">
                    <div class="col-md-12">
                        @if (!string.IsNullOrEmpty(resultMsg))
                        {
                            <label style="color: @color">@resultMsg</label>
                        }
                        <div class="col-md-12 d-flex flex-column">
                            <button @onclick="LoginAsync" disabled="@IsLoginButtonDisabled" class="acceptbtn">Login</button>
                            <p class="pt-2 mb-0">Don't have an account? <a id="NewUser" href="/register">Register</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>You are already logged in!</h3>
            <div class="button-row">
                <button @onclick="Logout" class="acceptbtn">Logout</button>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

<script>
    document.addEventListener(
      "keydown",
      (event) => {
        const keyName = event.key;
    
        if (keyName === "Enter") {
          DotNet.invokeMethodAsync('BlazorApp','LoginAsync');
        }});
</script>

@code {
    public string userName { get; set;}
    public string password { get; set; }
    public string resultMsg = "";
    public string color = "";
    
    
    public bool IsLoginButtonDisabled => string.IsNullOrWhiteSpace(userName) || string.IsNullOrWhiteSpace(password);

    [JSInvokable]
    public async Task LoginAsync()
    {
        try
        {
            await userService.ValidateUser(userName, password);
            userName = "";
            password = "";
            resultMsg = "Logged in successfully.";
            color = "green";
            navManager.NavigateTo("/", forceLoad: true);
        }
        catch (HttpRequestException e) when (e.StatusCode == HttpStatusCode.Unauthorized)
        {
            resultMsg = "Invalid password.";
            color = "red";
        }
        catch (HttpRequestException e) when (e.StatusCode == HttpStatusCode.NotFound)
        {
            resultMsg = "Username does not exist.";
            color = "red";
        }
        catch (Exception e)
        {
            resultMsg = "Something went wrong. Try again later.";
            color = "red";
        }
        
    }

    public async Task Logout()
    {
        await userService.Logout();
        navManager.NavigateTo("/", forceLoad: true);
    }
}