@page "/Login"
@using HttpClients.ClientInterfaces
@inject IUserService userService;
@inject NavigationManager navManager;


<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <h3 id="header">Login</h3>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="form-group field">
                    <label>Username:</label>
                    <input id="inputCpr" type="text" class="form-control" @bind="userName" @bind:event="oninput"/>
                </div>
            </div>
        </div>
        
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="form-group field">
                    <label>Password:</label>
                    <input id="inputPassword" type="password" class="form-control" @bind="password" @bind:event="oninput"/>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                @if (!string.IsNullOrEmpty(resultMsg))
                    {
                        <label style="color: @color">@resultMsg</label>
                    }
                <div class="button-row">
                    <button @onclick="LoginAsync" disabled="@IsLoginButtonDisabled" class="acceptbtn">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private string userName { get; set;}
    private string password { get; set; }
    private string resultMsg = "";
    private string color = "";
    
    private bool IsLoginButtonDisabled => string.IsNullOrWhiteSpace(userName) || string.IsNullOrWhiteSpace(password);

    private async Task LoginAsync()
    {
        try
        {
            await userService.ValidateUser(userName, password);
            userName = "";
            password = "";
            resultMsg = "Logged in successfully.";
            color = "green";
            navManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
        
    }
}