#header{
    text-align: center;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
    display: inline-block;
    height: 30%;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card label{
    text-decoration: none;
    color:black;
    font-weight: 400;
}

.card{
    text-decoration: none;
    margin-right: 16px;
    width: 30%;
}

.price {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(132,0,218,1) 100%);
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}

.cars-container {
    row-gap: 16px;
}