@page "/ViewCars"
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject ICarService carService;

<h3 style="text-align: center">View Cars</h3>

@if (!string.IsNullOrEmpty(msg))
{
    <div>
        <span>@msg</span>
    </div>
}

 @if (cars == null)
 {
    <span>Null...</span>
 }
 else if (!cars.Any())
 {
    <span>No cars to be found...</span>
 }
 else
 {
     <div class="cars-container">
         @foreach (Car cars in cars)
              {
                  <div class="card">
                      <label>@cars.Brand</label>
                  </div>
              }
     </div>
 }

@code
{
 private IEnumerable<Car>? cars;
 private string msg = "";
 
 protected override async Task OnInitializedAsync()
     {
        try
         {
         cars = await carService.GetCarsAsync();
        }
        catch (Exception e)
        {
        msg = e.Message;
         }
     }
}
