@page "/ViewCars"
@using Domain.Models
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@inject ICarService carService;

<h3 style="text-align: center">View Cars</h3>

@if (!string.IsNullOrEmpty(msg))
{
    <div>
        <span>@msg</span>
    </div>
}

 @if (cars == null)
 {
    <span>Null...</span>
 }
 else if (!cars.Any())
 {
    <span>No cars to be found...</span>
 }
 else
 {
     <div class="cars-container">
         @foreach (Car cars in cars)
              {
                  <a href="/CarDetails/@cars.Id" class="card">
                      <label>@cars.Brand</label>
                      
                  </a>
              }
     </div>
 }

@code
{
 private IEnumerable<Car>? cars;
 private string msg = "";
 
 protected override async Task OnInitializedAsync()
     {
        try
        {
            SearchCarParametersDto dto = new SearchCarParametersDto(null, null, null, null, null, null, null, null, null, null);
             cars = await carService.GetCarsAsync(dto);
         }
         catch (Exception e)
         {
            msg = e.Message;
         }
     }
}
