/* _content/BlazorApp/Pages/CarDetails.razor.rz.scp.css */
#header[b-lql16p6pfj]{
    text-align: center;
    color: rgb(67, 0, 127);
    font-weight: 750;
}

.popup[b-lql16p6pfj] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content[b-lql16p6pfj] {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    color: rgb(67, 0, 127);
    background-color: rgb(67, 0, 127);
    padding: 20px;
    width: 340px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-btn[b-lql16p6pfj] {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    padding: 10px;
}

.close-btn:hover[b-lql16p6pfj]{
    background-color: black;
    color: white;
}

.card[b-lql16p6pfj]{
    height: 90%;
    width: 90%;
    padding: 25px;
    text-align: center;
    border-radius: 15px;
}

.container[b-lql16p6pfj]{
    display: flex;
}

#reserveBtn[b-lql16p6pfj]{
    width: 40%;
    background-color: rgb(67, 0, 127);
    color: white;
    font-weight: 650;
    margin-top: 15px;
    margin-left: 50%;
    border-radius: 8px;
    transform: translateX(-50%);
}

.field[b-lql16p6pfj]{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.field label[b-lql16p6pfj]{
    font-weight: 700;
    margin-bottom: 20px;
}

.card p[b-lql16p6pfj]{
    font-size: 10px;
    margin-top: 10px;
    color: rgb(67, 0, 127);
}

.carDetails[b-lql16p6pfj] {
    width: 90%; 
    margin-top: 10%;
}

.containerCar[b-lql16p6pfj] {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.left .row[b-lql16p6pfj] {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.left[b-lql16p6pfj], .restOfDetails[b-lql16p6pfj] {
    width: 50%; 
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}



.row[b-lql16p6pfj] {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
#leftLabel[b-lql16p6pfj]{
    font-weight: 800;
    color: white;
    font-size: 60px;
}

.left[b-lql16p6pfj] {
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(150,9,200,1) 73%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}
.restOfDetails[b-lql16p6pfj]{
    background-color: #ecb5ff;
    font-weight: bold;
    color: #700595;
}

.btn[b-lql16p6pfj]{
    background-color: rgb(67, 0, 127);
}

#desc[b-lql16p6pfj]{
    color:white;
    margin-top: 3%;
}
/* _content/BlazorApp/Pages/CreateCar.razor.rz.scp.css */
.card[b-s7gnac86a7]{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 400px;
    width: 80%;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    background-color: rgb(67, 0, 127);
    color: white;
}

.field[b-s7gnac86a7]{
    text-align: center;
    justify-content: center;
}

.acceptbtn[b-s7gnac86a7]{
    color:white;
    background-color: rgb(132,0,218);
    outline: solid 3px black;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.form-control[b-s7gnac86a7] {
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
}

#header[b-s7gnac86a7]{
    text-align: center;
    color: rgb(67, 0, 127);
    font-size: 40px;
    font-weight: 750;
}
/* _content/BlazorApp/Pages/EditCar.razor.rz.scp.css */
.card[b-0hhozdoj72]{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 400px;
    width: 80%;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    background-color: rgb(67, 0, 127);
    color: white;
}

.field[b-0hhozdoj72]{
    text-align: center;
    justify-content: center;
}

.acceptbtn[b-0hhozdoj72]{
    color:white;
    background-color: rgb(132,0,218);
    outline: solid 3px black;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.form-control[b-0hhozdoj72] {
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
}

#header[b-0hhozdoj72]{
    text-align: center;
    color: rgb(67, 0, 127);
    font-size: 40px;
    font-weight: 750;
}
/* _content/BlazorApp/Pages/EditProfile.razor.rz.scp.css */
.card[b-0ybkwg3qu9]{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 400px;
    width: 80%;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    background-color: rgb(67, 0, 127);
    color: white;
}

.field[b-0ybkwg3qu9]{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.acceptbtn[b-0ybkwg3qu9]{
    color:white;
    background-color: rgb(132,0,218);
    outline: solid 3px black;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

#inputBrand[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputModel[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputBodyType[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputGearbox[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputColor[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputHP[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputPrice[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputDescription[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputFuelType[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#header[b-0ybkwg3qu9]{
    text-align: center;
    color: rgb(67, 0, 127);
    font-size: 40px;
    font-weight: 750;
}

@keyframes expandWidth-b-0ybkwg3qu9 {
    0% {
        width: 50px;
    }
    100% {
        width: 160px;
    }
}
/* _content/BlazorApp/Pages/EditUser.razor.rz.scp.css */
.card[b-oufi5vxkno]{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 400px;
    width: 80%;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    background-color: rgb(67, 0, 127);
    color: white;
}

.field[b-oufi5vxkno]{
    text-align: center;
    justify-content: center;
}

.acceptbtn[b-oufi5vxkno]{
    color:white;
    background-color: rgb(132,0,218);
    outline: solid 3px black;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.form-control[b-oufi5vxkno]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
}

#header[b-oufi5vxkno]{
    text-align: center;
    color: rgb(67, 0, 127);
    font-size: 40px;
    font-weight: 750;
}
/* _content/BlazorApp/Pages/GetUser.razor.rz.scp.css */
.user-card[b-n1sgfil5f0] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
}

td[b-n1sgfil5f0] {
    vertical-align: middle;
}
/* _content/BlazorApp/Pages/Index.razor.rz.scp.css */
.desc[b-w6l7chfipm] {
    animation: fadeIn-b-w6l7chfipm 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    display:flex;
    justify-content: center;
}

@keyframes fadeIn-b-w6l7chfipm {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
h1[b-w6l7chfipm] {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    transition: all 0.3s ease; 
    color: #542254;
    font-size: 40px;
}

h1:hover[b-w6l7chfipm] {
    color: #070407;
    font-size: 48px;
}

footer[b-w6l7chfipm]{
    text-align: left;
    padding: 3px;
    color: black;
    margin-top: 50px;
}

.container[b-w6l7chfipm] {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc img[b-w6l7chfipm] {
    min-width: 50%; 
}

@media screen and (max-width: 600px) {
    .desc img[b-w6l7chfipm] {
        max-height: 60%; 
    }

    h1[b-w6l7chfipm] {
        font-size: 40px;
    }
}
/* _content/BlazorApp/Pages/Login.razor.rz.scp.css */
.card[b-c956fem5qt]{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 400px;
    width: 80%;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    background-color: rgb(67, 0, 127);
    color: white;
}

#header[b-c956fem5qt]{
    text-align: center;
    color: rgb(67, 0, 127);
    font-size: 40px;
    font-weight: 750;
}

.acceptbtn[b-c956fem5qt]{
    color:white;
    background-color: rgb(132,0,218);
    outline: solid 3px black;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

#NewUser[b-c956fem5qt]{
    text-decoration: none;
    color: lightpink;
}

#NewUser:hover[b-c956fem5qt]{
    text-decoration: none;
    color: white;
}

.form-control[b-c956fem5qt] {
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
}
/* _content/BlazorApp/Pages/Profile.razor.rz.scp.css */
.popup[b-i9n0qbq691] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content[b-i9n0qbq691] {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    color: rgb(67, 0, 127);
    background-color: rgb(67, 0, 127);
    padding: 20px;
    width: 340px;
    height: 390px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-btn[b-i9n0qbq691] {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    padding: 10px;
}

.close-btn:hover[b-i9n0qbq691]{
    background-color: black;
    color: white;
}
/* _content/BlazorApp/Pages/Register.razor.rz.scp.css */
.card[b-x3lxt1hyuu]{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 400px;
    width: 80%;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    background-color: rgb(67, 0, 127);
    color: white;
}

.field[b-x3lxt1hyuu]{
    text-align: center;
    justify-content: center;
}

.acceptbtn[b-x3lxt1hyuu]{
    color: white;
    background-color: rgb(132,0,218);
    outline: solid 3px black;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-row[b-x3lxt1hyuu]{
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

.form-control[b-x3lxt1hyuu] {
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
}

#header[b-x3lxt1hyuu]{
    text-align: center;
    color: rgb(67, 0, 127);
    font-size: 40px;
    font-weight: 750;
}
/* _content/BlazorApp/Pages/Reservations.razor.rz.scp.css */
td[b-aharamea8z] {
    vertical-align: middle;
}
/* _content/BlazorApp/Pages/UserReservations.razor.rz.scp.css */
td[b-yubfuiigg6] {
    vertical-align: middle;
}
/* _content/BlazorApp/Pages/ViewCars.razor.rz.scp.css */
#header[b-4ws64lblw9]{
    text-align: center;
}

.card[b-4ws64lblw9]{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
    display: inline-block;
    height: 30%;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover[b-4ws64lblw9] {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card label[b-4ws64lblw9]{
    text-decoration: none;
    color:black;
    font-weight: 400;
}

.card[b-4ws64lblw9]{
    text-decoration: none;
    margin-right: 16px;
    width: 30%;
}

.price[b-4ws64lblw9] {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(132,0,218,1) 100%);
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}

.cars-container[b-4ws64lblw9] {
    row-gap: 16px;
}
/* _content/BlazorApp/Shared/MainLayout.razor.rz.scp.css */
.page[b-3dsd3z3yec] {
    position: relative;
    display: flex;
    flex-direction: column;
}



main[b-3dsd3z3yec] {
    flex: 1;
}

#HomeButton[b-3dsd3z3yec]{
    color:white;
    text-decoration: none;
}

#HomeButton:hover[b-3dsd3z3yec]{
    color:orange;
    background-color: dimgrey;
}

#Sidebar[b-3dsd3z3yec] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-3dsd3z3yec] {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(132,0,218,1) 100%);
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-3dsd3z3yec]  a, .top-row .btn-link[b-3dsd3z3yec] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-3dsd3z3yec] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-3dsd3z3yec] {
        display: none;
    }

    .top-row.auth[b-3dsd3z3yec] {
        justify-content: space-between;
    }

    .top-row a[b-3dsd3z3yec], .top-row .btn-link[b-3dsd3z3yec] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-3dsd3z3yec] {
        flex-direction: row;
    }

    .sidebar[b-3dsd3z3yec] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-3dsd3z3yec] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-3dsd3z3yec], article[b-3dsd3z3yec] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorApp/Shared/NavMenu.razor.rz.scp.css */
#sideNavBar[b-7cxxmz0cwl]{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(132,0,218,1) 100%);
}

#topCorner[b-7cxxmz0cwl]{
    background-color: #020024;
}

.top-row[b-7cxxmz0cwl] {
    height: 3.5rem;
}

.navbar-brand[b-7cxxmz0cwl] {
    font-size: 1.1rem;
    background-color: #020024;
}

.oi[b-7cxxmz0cwl] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-7cxxmz0cwl] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

    .nav-item:first-of-type[b-7cxxmz0cwl] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7cxxmz0cwl] {
        padding-bottom: 1rem;
    }

    .nav-item[b-7cxxmz0cwl]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-7cxxmz0cwl]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-7cxxmz0cwl]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7cxxmz0cwl] {
        display: none;
    }

    .collapse[b-7cxxmz0cwl] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-7cxxmz0cwl] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}


/* _content/BlazorApp/UIComponets/Modal.razor.rz.scp.css */
.modal-background[b-8tzjpbtawx] { /* This style class makes the background darker, and un-clickable */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.47); /* Black w/ opacity */
    display:block;
}

/* Modal Content/Box */
.modal-box[b-8tzjpbtawx] {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #000000;
    /*display:inline-block;*/
    text-align: center;
    width: 30%; /* Could be more or less, depending on screen size */
    min-width: 300px;
    border-radius: 25px;
    box-shadow: 0 5px 30px 15px #3f3f3f;
}
