@inherits LayoutComponentBase

<PageTitle>Car Rental Service</PageTitle>

<div class="page">
    <div id="Sidebar" class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a id="HomeButton" href="/">Home</a>
        </div>

        <article id="Body" class="content px-4">
            @Body
        </article>
    </main>
</div>