@using Domain.Models
@inject AuthenticationStateProvider StateProvider;

<div id="topCorner" class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Car Rental Service App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div id="sideNavBar" class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="counter"> *@
        @*         <span class="oi oi-plus" aria-hidden="true"></span> Counter *@
        @*     </NavLink> *@
        @* </div> *@
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="fetchdata"> *@
        @*         <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data *@
        @*     </NavLink> *@
        @* </div> *@
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="Register"> *@
        @*         <span class="oi oi-people" aria-hidden="true"></span> Register User *@
        @*     </NavLink> *@
        @* </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-people" aria-hidden="true"></span> Log in
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-car">
                <span class="oi oi-plus" aria-hidden="true"></span> Add car
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cars">
                <span class="oi oi-list" aria-hidden="true"></span> Browse cars
            </NavLink>
        </div>
        @if (isAdmin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="reservations">
                    <span class="oi oi-list" aria-hidden="true"></span> Reservations
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <span class="oi oi-people" aria-hidden="true"></span> Users
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="{username}/reservations">
                <span class="oi oi-list" aria-hidden="true"></span> My Reservations
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool isAdmin;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    private async Task<bool> CheckAdminStatus()
    {
        var authState = await StateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user?.Identity != null && user.Identity.IsAuthenticated)
        {
            return user.HasClaim(c => c.Type == "IsAdmin" && c.Value == "true");
        }
        return false;
    }
    
    protected override async Task OnInitializedAsync()
    {
        isAdmin = await CheckAdminStatus();
    }
}