#header[b-lql16p6pfj]{
    text-align: center;
    color: rgb(67, 0, 127);
    font-weight: 750;
}

.popup[b-lql16p6pfj] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content[b-lql16p6pfj] {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    color: rgb(67, 0, 127);
    background-color: rgb(67, 0, 127);
    padding: 20px;
    width: 340px;
    height: 390px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-btn[b-lql16p6pfj] {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    padding: 10px;
}

.close-btn:hover[b-lql16p6pfj]{
    background-color: black;
    color: white;
}

.card[b-lql16p6pfj]{
    height: 90%;
    width: 90%;
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
}

.container[b-lql16p6pfj]{
    display: flex;
}

#reserveBtn[b-lql16p6pfj]{
    width: 40%;
    background-color: rgb(67, 0, 127);
    color: white;
    font-weight: 650;
    margin-top: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.field[b-lql16p6pfj]{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.field label[b-lql16p6pfj]{
    font-weight: 700;
    margin-bottom: 20px;
}

.card p[b-lql16p6pfj]{
    font-size: 10px;
    margin-top: 10px;
    color: rgb(67, 0, 127);
}