.card[b-oufi5vxkno]{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 400px;
    width: 80%;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    background-color: rgb(67, 0, 127);
    color: white;
}

.field[b-oufi5vxkno]{
    text-align: center;
    justify-content: center;
}

.acceptbtn[b-oufi5vxkno]{
    color:white;
    background-color: rgb(132,0,218);
    outline: solid 3px black;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.form-control[b-oufi5vxkno]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
}

#header[b-oufi5vxkno]{
    text-align: center;
    color: rgb(67, 0, 127);
    font-size: 40px;
    font-weight: 750;
}