.card[b-0ybkwg3qu9]{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 400px;
    width: 80%;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    background-color: rgb(67, 0, 127);
    color: white;
}

.field[b-0ybkwg3qu9]{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.acceptbtn[b-0ybkwg3qu9]{
    color:white;
    background-color: rgb(132,0,218);
    outline: solid 3px black;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

#inputBrand[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputModel[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputBodyType[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputGearbox[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputColor[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputHP[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputPrice[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputDescription[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#inputFuelType[b-0ybkwg3qu9]{
    padding: 12px 20px;
    resize: vertical;
    min-height: 50px;
    margin-top: 10px;
    animation: expandWidth-b-0ybkwg3qu9 2s ease-in-out;
}

#header[b-0ybkwg3qu9]{
    text-align: center;
    color: rgb(67, 0, 127);
    font-size: 40px;
    font-weight: 750;
}

@keyframes expandWidth-b-0ybkwg3qu9 {
    0% {
        width: 50px;
    }
    100% {
        width: 160px;
    }
}