.desc[b-w6l7chfipm] {
    animation: fadeIn-b-w6l7chfipm 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    display:flex;
    justify-content: center;
}

@keyframes fadeIn-b-w6l7chfipm {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
h1[b-w6l7chfipm] {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    transition: all 0.3s ease; 
    color: #542254;
    font-size: 40px;
}

h1:hover[b-w6l7chfipm] {
    color: #070407;
    font-size: 48px;
}

footer[b-w6l7chfipm]{
    text-align: left;
    padding: 3px;
    color: black;
    margin-top: 50px;
}

.container[b-w6l7chfipm] {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc img[b-w6l7chfipm] {
    min-width: 50%; 
}

@media screen and (max-width: 600px) {
    .desc img[b-w6l7chfipm] {
        max-height: 60%; 
    }

    h1[b-w6l7chfipm] {
        font-size: 40px;
    }
}
