.desc[b-w6l7chfipm] {
    animation: fadeIn-b-w6l7chfipm 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    display:flex;
    justify-content: center;
    margin-top:50px;
}

.img[b-w6l7chfipm]{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn-b-w6l7chfipm {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
h1[b-w6l7chfipm] {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: all 0.3s ease; /* Adding a smooth transition for the hover effect */
    color: #542254; /* Initial text color */
    font-size: 60px; /* Initial font size */
}

/* Adding a hover effect */
h1:hover[b-w6l7chfipm] {
    color: #070407; /* Change text color to purple on hover */
    font-size: 68px; /* Increase font size on hover */
}

footer[b-w6l7chfipm]{
    text-align: center;
    padding: 3px;
    color: black;
    margin-top: 50px;
}
