.card[b-c956fem5qt]{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 400px;
    width: 80%;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
}

#inputPassword:focus[b-c956fem5qt]{
    border: 3px solid dimgrey;
    width: 160px;
    outline: none;
}

.field[b-c956fem5qt]{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

#inputCpr:focus[b-c956fem5qt]{
    border: 3px solid dimgrey;
    width: 160px;
    outline: none;
}

#inputPassword[b-c956fem5qt]{
    padding: 12px 20px;
    transition: width 1s ease-in-out 250ms;
    resize: vertical;
    min-height: 50px;
    width: 50px;
}

#inputCpr[b-c956fem5qt]{
    padding: 12px 20px;
    transition: width 1s ease-in-out 250ms;
    resize: vertical;
    min-height: 50px;
    width: 50px;
}

#header[b-c956fem5qt]{
    text-align: center;
}

.acceptbtn[b-c956fem5qt]{
    background-color:lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-row[b-c956fem5qt]{
    margin-top: 15px;
}