.card[b-x3lxt1hyuu] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
}

.field[b-x3lxt1hyuu] {
    margin-top: 20px;
}

.acceptbtn[b-x3lxt1hyuu] {
    background-color:lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-row[b-x3lxt1hyuu]{
    margin-top: 15px;
}

.header[b-x3lxt1hyuu] {
    color: beige;
}