.card[b-x3lxt1hyuu]{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 400px;
    width: 80%;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
}

#inputPassword:focus[b-x3lxt1hyuu]{
    border: 3px solid dimgrey;
    width: 160px;
    outline: none;
}

.field[b-x3lxt1hyuu]{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

#inputCprNumber:focus[b-x3lxt1hyuu]{
    border: 3px solid dimgrey;
    width: 160px;
    outline: none;
}

.acceptbtn[b-x3lxt1hyuu]{
    background-color:lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#inputEmail:focus[b-x3lxt1hyuu]{
    border: 3px solid dimgrey;
    width: 160px;
    outline: none;
}

.button-row[b-x3lxt1hyuu]{
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

#inputPhoneNumber:focus[b-x3lxt1hyuu]{
    border: 3px solid dimgrey;
    width: 160px;
    outline: none;
}

#inputFirstName:focus[b-x3lxt1hyuu]{
    border: 3px solid dimgrey;
    width: 160px;
    outline: none;
}

#inputLastName:focus[b-x3lxt1hyuu]{
    border: 3px solid dimgrey;
    width: 160px;
    outline: none;
}

#inputPassword:focus[b-x3lxt1hyuu]{
    border: 3px solid dimgrey;
    width: 160px;
    outline: none;
}

#inputFirstName[b-x3lxt1hyuu]{
    padding: 12px 20px;
    transition: width 1s ease-in-out 250ms;
    resize: vertical;
    min-height: 50px;
    width: 50px;
}

#inputLastName[b-x3lxt1hyuu]{
    padding: 12px 20px;
    transition: width 1s ease-in-out 250ms;
    resize: vertical;
    min-height: 50px;
    width: 50px;
}

#inputEmail[b-x3lxt1hyuu]{
    padding: 12px 20px;
    transition: width 1s ease-in-out 250ms;
    resize: vertical;
    min-height: 50px;
    width: 50px;
}

#inputPassword[b-x3lxt1hyuu]{
    padding: 12px 20px;
    transition: width 1s ease-in-out 250ms;
    resize: vertical;
    min-height: 50px;
    width: 50px;
}

#inputCprNumber[b-x3lxt1hyuu]{
    padding: 12px 20px;
    transition: width 1s ease-in-out 250ms;
    resize: vertical;
    min-height: 50px;
    width: 50px;
}

#inputPhoneNumber[b-x3lxt1hyuu]{
    padding: 12px 20px;
    transition: width 1s ease-in-out 250ms;
    resize: vertical;
    min-height: 50px;
    width: 50px;
}

#header[b-x3lxt1hyuu]{
    text-align: center;
}


